<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<a href="/home/armor/seed">Seed</a> <br>. <br> .

<nav>

    <form action="/home">
        <input type="submit" value="Go Back">
    </form>

    <form action="/home/armor/new">
        <input type="submit" value="Create New">
    </form>

</nav>

<body>
    <h1>Check out our armor</h1>


    <ul>
        <% armors.forEach(armor=> { %>
            <li>
                <%= armor.name %> Armor<br>



                    <a href="/home/armor/show/<%=armor._id%>">
                        <img src="<%= armor.image %>" style="max-height: 250px; max-width: 250px;">
                    </a>



            </li>
            <% }) %>







    </ul>

</body>



</html>