<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Create New Armor</title>
</head>

<nav class="armorNewHeaderButtons">

    <form action="/home/armor">
        <input class="armorNewBackHeaderButton" type="submit" value="Back">
    </form>

    <form action="/home">
        <input class="armorNewHomeHeaderButton" type="submit" value="Home">
    </form>

</nav>

<body class="armorNewBody">

    <h1 class="armorNewH1">Create Your Armor</h1>

    <form action="/home/armor" method="post">


        <div class="armorNewTopTwoInput">
            <div class="armorNewInputBox">
                <input class="armorNewActualInputBox" type="text" name="name" autocomplete="off" placeholder="Armor Name" required>
            </div>

            <div class="armorNewInputBox">
                <input class="armorNewActualInputBox" type="text" name="description" placeholder="Description" autocomplete="off" required>
            </div>
        </div>

        <div class="armorNewMiddleTwoInput">
            <div class="armorNewInputBox">
                <input class="armorNewActualInputBox" type="text" name="weight" placeholder="Weight" autocomplete="off" required>
            </div>

            <div class="armorNewInputBox">
                <input class="armorNewActualInputBox" type="text" name="price" placeholder="Price" autocomplete="off" required>
            </div>
        </div>

        <div class="armorNewBottomTwoInput">
            <div class="armorNewInputBox">
                <input class="armorNewActualInputBox" type="text" name="image" autocomplete="off" placeholder="Image">
            </div>

            <div class="armorNewInputBox">
                <input class="armorNewActualInputBox" type="text" name="quanity" autocomplete="off" placeholder="Quanity" required>
            </div>
        </div>

        <br>


        <input class="armorNewCreateHeaderButton" type="submit" value="Create">


    </form>


</body>

</html>