<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<nav>

    <form action="/home">
        <input type="submit" value="Home">
    </form>

</nav>


<body>
    <h1>This is the new armor page</h1>

    <form action="/home/armor" method="post">

        <input type="submit" value="Create">

        <input type="text" name="name" placeholder="Armor Name" required>
        <input type="text" name="description" placeholder="Description" required>
        <input type="text" name="weight" placeholder="Weight" required>
        <input type="text" name="price" placeholder="Price" required>
        <input type="text" name="image" placeholder="Image">
        <input type="text" name="quanity" placeholder="Quanity" required>

        <br>

        <form action="/home/armor">
            <input type="submit" value="Back">
        </form>

    </form>

</body>

</html>