<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<nav>

    <form action="/home">
        <input type="submit" value="Home">
    </form>

    <form action="/home/armor">
        <input type="submit" value="Back">
    </form>

</nav>


<body>
    <h1>This is the new armor page</h1>

</body>

</html>