<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<a href="/home/equipment/seed">Seed</a> <br>. <br> .

<nav>

    <form action="/home">
        <input type="submit" value="Go Back">
    </form>

</nav>

<body>
    <h1>This is the index equipment page</h1>

    <ul>
        <% equipments.forEach(equipment=> { %>
            <li>
                <%= equipment.name %> <br>



                    <a href="/home/equipment/show">
                        <img src="<%= equipment.image %>" style="max-height: 250px; max-width: 250px;">
                    </a>



            </li>
            <% }) %>







    </ul>


</body>

</html>