<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<nav>

    <form action="/home/equipment/seed">
        <input type="submit" value="Refresh the product">
    </form>

    <form action="/home">
        <input type="submit" value="Back">
    </form>

    <form action="/home/equipment/new">
        <input type="submit" value="Create New">
    </form>

</nav>

<body>
    <h1>This is the index equipment page</h1>

    <ul>
        <% equipments.forEach(equipment=> { %>
            <li>
                <%= equipment.name %> <br>



                    <a href="/home/equipment/<%=equipment._id%>">
                        <img src="<%= equipment.image %>" style="max-height: 250px; max-width: 250px;">
                    </a>

                    <form action="/home/equipment/<%= equipment.id %>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE">
                    </form>



            </li>
            <% }) %>







    </ul>


</body>

</html>