<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<nav>

    <form action="/home">
        <input type="submit" value="Home">
    </form>

</nav>

<body>
    <h1>This is the new equipment page</h1>


    <input type="submit" value="Create">
    <input type="input" placeholder="Equipment Name">
    <input type="input" placeholder="Description">
    <input type="input" placeholder="Price">
    <input type="input" placeholder="Quanity">

    <br>

    <form action="/home/equipment">
        <input type="submit" value="Back">
    </form>


</body>

</html>