<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=e, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body class="homeBody">
    <h1>
        Pick your product
    </h1>


    <form action="/home/armor">
        <input type="submit" value="Armor">
    </form>
    <form action="/home/weapons">
        <input type="submit" value="Weapons">
    </form>
    <form action="/home/equipment">
        <input type="submit" value="Equipment">
    </form>






</body>

</html>