<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Welcome!</title>
</head>


<div class="startAll">

    <body class="startBody">
        <h1 class="startH1">
            Welcome to the Halo Shop
        </h1>
        <form class="startButtonForm" action="/home">
            <input class="startButton button" type="submit" value="Enter">
        </form>

    </body>

</div>

</html>