/* Start Page CSS */


/*=============================================================================================*/

.startBody {
    text-align: center;
    background-image: url("https://i.ytimg.com/vi/E5cHeFeNrgE/maxresdefault.jpg");
    background-size: cover;
}

.startH1 {
    font-family: 'Inconsolata', monospace;
    margin-top: 150px;
    font-size: 60px;
    color: rgb(104, 104, 126)
}

.startButton {
    margin-top: 25%;
    font-size: 40px;
    padding: 10px 100px;
    background-color: rgb(7, 25, 26);
    color: rgb(104, 104, 126);
    background-image: url("https://cdn.wallpapersafari.com/5/69/vYXw4K.jpg");
    border-radius: 15px;
    border: 5px solid black;
}

.startButton:hover {
    border: 5px solid rgb(104, 104, 126)
}

.startAll {
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Home Page CSS */


/*=============================================================================================*/

.homeBody {
    font-family: 'Inconsolata', monospace;
    text-align: center;
    background-image: url("https://content.halocdn.com/media/Default/BlogPost/noblehelmetgraphic-body-71afcdcd9d3f4be4aab75ca236586816.jpg");
    background-size: cover;
}

.homeH1 {
    font-size: 70px;
    color: rgb(104, 104, 126)
}

.homeInputForm {
    color: red;
}

.homeButton {
    padding: 25px 140px;
    font-size: 20px;
    margin-top: 100px;
    background-color: rgb(7, 25, 26);
    color: rgb(104, 104, 126);
    background-image: url("https://i.pinimg.com/originals/79/0d/77/790d7774cdc98b6a53170ef5de8ce565.jpg");
    border-radius: 15px;
    border: 5px solid black;
}

.homeInputDiv {
    color: blue;
    padding: 10px;
}

.homeButton:hover {
    border: 5px solid rgb(104, 104, 126)
}


/* =================    ARMOR    ================= */


/* Armors Index Page */

.armorIndexName {
    color: rgb(148, 148, 150);
    padding-bottom: 10px;
    font-size: 25px;
}

.armorsIndexBody {
    text-align: center;
    background-image: url("https://content.halocdn.com/media/Default/BlogPost/noblehelmetgraphic-body-71afcdcd9d3f4be4aab75ca236586816.jpg");
    background-size: 1920px 1000px;
}

.armorIndexDelete {
    color: black;
    background-color: red;
    border: 5px solid red;
    border-radius: 10px;
}

.armorIndexEdit {
    color: black;
    padding: 0px 17px;
    background-color: rgb(63, 224, 63);
    border: 5px solid rgb(63, 224, 63);
    border-radius: 10px;
}

.armorIndexEdit:hover {
    border: 5px solid rgb(104, 104, 126);
    max-width: 150px;
}

.armorIndexDelete:hover {
    border: 5px solid rgb(104, 104, 126);
    max-width: 150px;
}

.armorIndexH1 {
    color: rgb(104, 104, 126);
    font-size: 60px;
}

.armorUL {
    margin-left: 36%;
    max-width: 450px;
}

.armorIndexDeleteEdit {
    display: flex;
    margin-left: 145px;
}

.armorIndexDeleteButton {
    padding-bottom: 20px;
    padding-right: 15px;
}

.armorIndexHeaderButtons {
    display: inline-flex;
    min-width: 1890px;
    min-height: 40px;
}

.armorIndexNew {
    margin-right: 280px;
}

.armorIndexBack {
    margin-right: 300px;
}

.armorIndexRefresh {
    margin-left: 200px;
    margin-right: 300px;
}

.armorIndexHeaderButton {
    padding: 10px 40px;
    font-size: 20px;
    background-color: rgb(7, 25, 26);
    color: rgb(104, 104, 126);
    background-image: url("https://i.pinimg.com/originals/79/0d/77/790d7774cdc98b6a53170ef5de8ce565.jpg");
    border-radius: 15px;
    border: 5px solid black;
}


/* Armors New Page */


/* Armors Show Page */


/* =================    EQUIPMENT    ================= */


/* Equipment Index Page */

.equipmentIndexName {
    color: rgb(148, 148, 150);
    padding-bottom: 10px;
    font-size: 25px;
}

.equipmentIndexBody {
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/20/67/ff/2067ff18c3b7c88224f682518058d669.jpg");
    background-size: 1890px 1000px;
}

.equipmentIndexDelete {
    color: black;
    background-color: red;
    border: 5px solid red;
    border-radius: 10px;
}

.equipmentIndexEdit {
    color: black;
    padding: 0px 17px;
    background-color: rgb(63, 224, 63);
    border: 5px solid rgb(63, 224, 63);
    border-radius: 10px;
}

.equipmentIndexEdit:hover {
    border: 5px solid rgb(104, 104, 126);
    max-width: 150px;
}

.equipmentIndexDelete:hover {
    border: 5px solid rgb(104, 104, 126);
    max-width: 150px;
}

.equipmentIndexH1 {
    color: rgb(104, 104, 126);
    font-size: 60px;
    text-align: center;
}

.equipmentUL {
    margin-left: 36%;
    max-width: 450px;
}

.equipmentIndexDeleteEdit {
    display: flex;
    margin-left: 145px;
}

.equipmentIndexDeleteButton {
    padding-bottom: 20px;
    padding-right: 15px;
}

.equipmentIndexHeaderButtons {
    display: inline-flex;
    min-width: 1890px;
    min-height: 40px;
}

.equipmentIndexNew {
    margin-right: 245px;
}

.equipmentIndexBack {
    margin-right: 300px;
}

.equipmentIndexRefresh {
    margin-left: 200px;
    margin-right: 300px;
}

.equipmentIndexHeaderButton {
    padding: 10px 40px;
    font-size: 20px;
    background-color: rgb(7, 25, 26);
    color: rgb(104, 104, 126);
    background-image: url("https://i.pinimg.com/originals/79/0d/77/790d7774cdc98b6a53170ef5de8ce565.jpg");
    border-radius: 15px;
    border: 5px solid black;
}


/* Equipment New Page */


/* Equipment Show Page */


/* =================    WEAPONS    ================= */


/* Weapons Index Page */


/* Weapons New Page */


/* Weapons Show Page */