/* Start Page CSS */


/*=============================================================================================*/

.startBody {
    text-align: center;
    background-image: url("https://i.ytimg.com/vi/E5cHeFeNrgE/maxresdefault.jpg");
    background-size: cover;
}

.startH1 {
    font-family: 'Inconsolata', monospace;
    margin-top: 150px;
    font-size: 60px;
    color: rgb(104, 104, 126)
}

.startButton {
    margin-top: 25%;
    font-size: 40px;
    padding: 10px 100px;
    background-color: rgb(7, 25, 26);
    color: rgb(104, 104, 126);
    background-image: url("https://cdn.wallpapersafari.com/5/69/vYXw4K.jpg");
    border-radius: 15px;
    border: 5px solid black;
}

.startButton:hover {
    border: 5px solid rgb(104, 104, 126)
}

.startAll {
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Home Page CSS */


/*=============================================================================================*/

.homeBody {
    font-family: 'Inconsolata', monospace;
    text-align: center;
    background-image: url("https://content.halocdn.com/media/Default/BlogPost/noblehelmetgraphic-body-71afcdcd9d3f4be4aab75ca236586816.jpg");
    background-size: cover;
}

.homeH1 {
    font-size: 70px;
    color: rgb(104, 104, 126)
}

.homeInputForm {
    color: red;
}

.homeButton {
    padding: 25px 140px;
    font-size: 20px;
    margin-top: 100px;
    background-color: rgb(7, 25, 26);
    color: black;
    background-image: url("https://i.pinimg.com/originals/79/0d/77/790d7774cdc98b6a53170ef5de8ce565.jpg");
    border-radius: 15px;
    border: 5px solid black;
}

.homeInputDiv {
    color: blue;
    padding: 10px;
}

.homeButton:hover {
    border: 5px solid rgb(104, 104, 126)
}


/* =================    ARMOR    ================= */


/* Armors Index Page */


/*=======================================================================================================================================================*/

.armorIndexName {
    color: rgb(148, 148, 150);
    padding-bottom: 10px;
    font-size: 25px;
}

.armorsIndexBody {
    text-align: center;
    background-image: url("https://content.halocdn.com/media/Default/BlogPost/noblehelmetgraphic-body-71afcdcd9d3f4be4aab75ca236586816.jpg");
    background-size: 1920px 1000px;
}

.armorIndexDelete {
    color: black;
    background-color: red;
    border: 5px solid red;
    border-radius: 10px;
}

.armorIndexEdit {
    color: black;
    padding: 0px 17px;
    background-color: rgb(63, 224, 63);
    border: 5px solid rgb(63, 224, 63);
    border-radius: 10px;
}

.armorIndexEdit:hover {
    border: 5px solid rgb(104, 104, 126);
    max-width: 150px;
}

.armorIndexDelete:hover {
    border: 5px solid rgb(104, 104, 126);
    max-width: 150px;
}

.armorIndexH1 {
    color: rgb(104, 104, 126);
    font-size: 60px;
}

.armorUL {
    margin-left: 36%;
    max-width: 450px;
}

.armorIndexDeleteEdit {
    display: flex;
    margin-left: 145px;
}

.armorIndexDeleteButton {
    padding-bottom: 20px;
    padding-right: 15px;
}

.armorIndexHeaderButtons {
    display: inline-flex;
    min-width: 1890px;
    min-height: 40px;
}

.armorIndexNew {
    margin-right: 280px;
}

.armorIndexBack {
    margin-right: 300px;
}

.armorIndexRefresh {
    margin-left: 200px;
    margin-right: 300px;
}

.armorIndexHeaderButton {
    padding: 10px 40px;
    font-size: 20px;
    background-color: rgb(7, 25, 26);
    color: black;
    background-image: url("https://i.pinimg.com/originals/79/0d/77/790d7774cdc98b6a53170ef5de8ce565.jpg");
    border-radius: 15px;
    border: 5px solid black;
}

.armorIndexHeaderButton:hover {
    border: 5px solid rgb(104, 104, 126);
}

.armorIndexImage:hover {
    background-color: rgba(39, 39, 48, 0.589);
    border-radius: 15px;
}


/* Armors New Page */


/*=======================================================================================================================================================*/

.armorNewBody {
    background-image: url("https://www.343industries.org/forum/uploads/gallery/album_210/large.gallery_20452_210_128356.jpg.46f369bccba575a21601ef795a36de6e.jpg");
    background-size: cover;
    text-align: center;
}

.armorNewHeaderButtons {
    display: inline-flex;
    min-width: 1890px;
    min-height: 40px;
}

.armorNewBackHeaderButton {
    padding: 10px 40px;
    font-size: 20px;
    background-color: rgb(7, 25, 26);
    color: black;
    background-image: url("https://i.pinimg.com/originals/79/0d/77/790d7774cdc98b6a53170ef5de8ce565.jpg");
    border-radius: 15px;
    border: 5px solid black;
}

.armorNewHomeHeaderButton {
    padding: 10px 40px;
    font-size: 20px;
    background-color: rgb(7, 25, 26);
    color: black;
    background-image: url("https://i.pinimg.com/originals/79/0d/77/790d7774cdc98b6a53170ef5de8ce565.jpg");
    border-radius: 15px;
    border: 5px solid black;
    margin-left: 1610px;
}

.armorNewCreateHeaderButton {
    padding: 10px 40px;
    font-size: 20px;
    background-color: rgb(7, 25, 26);
    color: black;
    background-image: url("https://i.pinimg.com/originals/79/0d/77/790d7774cdc98b6a53170ef5de8ce565.jpg");
    border-radius: 15px;
    border: 5px solid black;
}

.armorNewBackHeaderButton:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.armorNewHomeHeaderButton:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.armorNewCreateHeaderButton:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.armorNewHeaderButton:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.armorNewActualInputBox {
    border: 5px solid black;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
}

.armorNewActualInputBox:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.armorNewH1 {
    color: rgb(104, 104, 126);
    font-size: 45px;
    padding-bottom: 30px;
}

.armorNewTopTwoInput {
    display: flex;
    justify-content: center;
}

.armorNewMiddleTwoInput {
    display: flex;
    justify-content: center;
}

.armorNewBottomTwoInput {
    display: flex;
    justify-content: center;
}


/* Armors Show Page */


/*=======================================================================================================================================================*/


/* Armors Edit Page */


/*=======================================================================================================================================================*/

.armorEditBody {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/696/95/694/halo-black-master-chief-video-game-wallpaper-preview.jpg");
    background-size: cover;
    text-align: center;
}

.armorEditHeaderButtons {
    display: inline-flex;
    min-width: 1890px;
    min-height: 40px;
}

.armorEditBackHeaderButton {
    padding: 10px 40px;
    font-size: 20px;
    background-color: rgb(7, 25, 26);
    color: black;
    background-image: url("https://i.pinimg.com/originals/79/0d/77/790d7774cdc98b6a53170ef5de8ce565.jpg");
    border-radius: 15px;
    border: 5px solid black;
}

.armorEditHomeHeaderButton {
    padding: 10px 40px;
    font-size: 20px;
    background-color: rgb(7, 25, 26);
    color: black;
    background-image: url("https://i.pinimg.com/originals/79/0d/77/790d7774cdc98b6a53170ef5de8ce565.jpg");
    border-radius: 15px;
    border: 5px solid black;
    margin-left: 1610px;
}

.armorEditCreateHeaderButton {
    padding: 10px 40px;
    font-size: 20px;
    background-color: rgb(7, 25, 26);
    color: black;
    background-image: url("https://i.pinimg.com/originals/79/0d/77/790d7774cdc98b6a53170ef5de8ce565.jpg");
    border-radius: 15px;
    border: 5px solid black;
}

.armorEditBackHeaderButton:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.armorEditHomeHeaderButton:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.armorEditCreateHeaderButton:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.armorEditHeaderButton:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.armorEditActualInputBox {
    border: 5px solid black;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
}

.armorEditActualInputBox:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.armorEditH1 {
    color: rgb(104, 104, 126);
    font-size: 45px;
    padding-bottom: 30px;
}

.armorEditTopTwoInput {
    display: flex;
    justify-content: center;
}

.armorEditMiddleTwoInput {
    display: flex;
    justify-content: center;
}

.armorEditBottomTwoInput {
    display: flex;
    justify-content: center;
}


/* =================    EQUIPMENT    ================= */


/* Equipment Index Page */


/*=======================================================================================================================================================*/

.equipmentIndexName {
    color: rgb(148, 148, 150);
    padding-bottom: 10px;
    font-size: 25px;
}

.equipmentIndexBody {
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/20/67/ff/2067ff18c3b7c88224f682518058d669.jpg");
    background-size: 1890px 1000px;
}

.equipmentIndexDelete {
    color: black;
    background-color: red;
    border: 5px solid red;
    border-radius: 10px;
}

.equipmentIndexEdit {
    color: black;
    padding: 0px 17px;
    background-color: rgb(63, 224, 63);
    border: 5px solid rgb(63, 224, 63);
    border-radius: 10px;
}

.equipmentIndexEdit:hover {
    border: 5px solid rgb(104, 104, 126);
    max-width: 150px;
}

.equipmentIndexDelete:hover {
    border: 5px solid rgb(104, 104, 126);
    max-width: 150px;
}

.equipmentIndexH1 {
    color: rgb(104, 104, 126);
    font-size: 60px;
    text-align: center;
}

.equipmentUL {
    margin-left: 36%;
    max-width: 450px;
}

.equipmentIndexDeleteEdit {
    display: flex;
    margin-left: 145px;
}

.equipmentIndexDeleteButton {
    padding-bottom: 20px;
    padding-right: 15px;
}

.equipmentIndexHeaderButtons {
    display: inline-flex;
    min-width: 1890px;
    min-height: 40px;
}

.equipmentIndexNew {
    margin-right: 245px;
}

.equipmentIndexBack {
    margin-right: 300px;
}

.equipmentIndexRefresh {
    margin-left: 200px;
    margin-right: 300px;
}

.equipmentIndexHeaderButton {
    padding: 10px 40px;
    font-size: 20px;
    background-color: rgb(7, 25, 26);
    color: black;
    background-image: url("https://i.pinimg.com/originals/79/0d/77/790d7774cdc98b6a53170ef5de8ce565.jpg");
    border-radius: 15px;
    border: 5px solid black;
}

.equipmentIndexHeaderButton:hover {
    border: 5px solid rgb(104, 104, 126);
}

.equipmentIndexImage:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 5px;
}

.equipmentIndexImage {
    max-height: 450px;
    max-width: 450px;
    min-width: 400px;
    min-height: 250px;
}


/* Equipment New Page */


/*=======================================================================================================================================================*/

.equipmentNewBody {
    background-image: url("https://wallpaperaccess.com/full/3369502.png");
    background-size: cover;
    text-align: center;
}

.equipmentNewHeaderButtons {
    display: inline-flex;
    min-width: 1890px;
    min-height: 40px;
}

.equipmentNewBackHeaderButton {
    padding: 10px 40px;
    font-size: 20px;
    background-color: rgb(7, 25, 26);
    color: black;
    background-image: url("https://i.pinimg.com/originals/79/0d/77/790d7774cdc98b6a53170ef5de8ce565.jpg");
    border-radius: 15px;
    border: 5px solid black;
}

.equipmentNewHomeHeaderButton {
    padding: 10px 40px;
    font-size: 20px;
    background-color: rgb(7, 25, 26);
    color: black;
    background-image: url("https://i.pinimg.com/originals/79/0d/77/790d7774cdc98b6a53170ef5de8ce565.jpg");
    border-radius: 15px;
    border: 5px solid black;
    margin-left: 1610px;
}

.equipmentNewCreateHeaderButton {
    padding: 10px 40px;
    font-size: 20px;
    background-color: rgb(7, 25, 26);
    color: black;
    background-image: url("https://i.pinimg.com/originals/79/0d/77/790d7774cdc98b6a53170ef5de8ce565.jpg");
    border-radius: 15px;
    border: 5px solid black;
}

.equipmentNewBackHeaderButton:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.equipmentNewHomeHeaderButton:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.equipmentNewCreateHeaderButton:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.equipmentNewHeaderButton:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.equipmentNewActualInputBox {
    border: 5px solid black;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
}

.equipmentNewActualInputBox:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.equipmentNewH1 {
    color: rgb(104, 104, 126);
    font-size: 45px;
    padding-bottom: 30px;
}

.equipmentNewTopTwoInput {
    display: flex;
    justify-content: center;
}

.equipmentNewMiddleTwoInput {
    display: flex;
    justify-content: center;
}

.equipmentNewBottomInput {
    display: flex;
    justify-content: center;
}


/* Equipment Show Page */


/*=======================================================================================================================================================*/


/* Equipment Edit Page */


/*=======================================================================================================================================================*/

.equipmentEditBody {
    background-image: url("https://i.pinimg.com/originals/22/1b/bb/221bbb81f21919c5d9ecb2d4604c9bdf.jpg");
    background-size: cover;
    text-align: center;
}

.equipmentEditHeaderButtons {
    display: inline-flex;
    min-width: 1890px;
    min-height: 40px;
}

.equipmentEditBackHeaderButton {
    padding: 10px 40px;
    font-size: 20px;
    background-color: rgb(7, 25, 26);
    color: black;
    background-image: url("https://i.pinimg.com/originals/79/0d/77/790d7774cdc98b6a53170ef5de8ce565.jpg");
    border-radius: 15px;
    border: 5px solid black;
}

.equipmentEditHomeHeaderButton {
    padding: 10px 40px;
    font-size: 20px;
    background-color: rgb(7, 25, 26);
    color: black;
    background-image: url("https://i.pinimg.com/originals/79/0d/77/790d7774cdc98b6a53170ef5de8ce565.jpg");
    border-radius: 15px;
    border: 5px solid black;
    margin-left: 1610px;
}

.equipmentEditCreateHeaderButton {
    padding: 10px 40px;
    font-size: 20px;
    background-color: rgb(7, 25, 26);
    color: black;
    background-image: url("https://i.pinimg.com/originals/79/0d/77/790d7774cdc98b6a53170ef5de8ce565.jpg");
    border-radius: 15px;
    border: 5px solid black;
}

.equipmentEditBackHeaderButton:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.equipmentEditHomeHeaderButton:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.equipmentEditCreateHeaderButton:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.equipmentEditHeaderButton:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.equipmentEditActualInputBox {
    border: 5px solid black;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
}

.equipmentEditActualInputBox:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.equipmentEditH1 {
    color: rgb(104, 104, 126);
    font-size: 45px;
    padding-bottom: 30px;
}

.equipmentEditTopTwoInput {
    display: flex;
    justify-content: center;
}

.equipmentEditMiddleTwoInput {
    display: flex;
    justify-content: center;
}

.equipmentEditBottomInput {
    display: flex;
    justify-content: center;
}


/* =================    WEAPONS    ================= */


/* Weapons Index Page */


/*=======================================================================================================================================================*/

.weaponIndexName {
    color: rgb(104, 104, 126);
    padding-bottom: 10px;
    font-size: 35px;
}

.weaponIndexBody {
    text-align: center;
    background-image: url("https://wallpaperaccess.com/full/3369435.jpg");
    background-size: 1890px 1000px;
}

.weaponIndexDelete {
    color: rgb(0, 0, 0);
    background-color: red;
    border: 5px solid red;
    border-radius: 10px;
}

.weaponIndexEdit {
    color: rgb(0, 0, 0);
    padding: 0px 17px;
    background-color: rgb(63, 224, 63);
    border: 5px solid rgb(63, 224, 63);
    border-radius: 10px;
}

.weaponIndexEdit:hover {
    border: 5px solid rgb(104, 104, 126);
    max-width: 150px;
}

.weaponIndexDelete:hover {
    border: 5px solid rgb(104, 104, 126);
    max-width: 150px;
}

.weaponIndexH1 {
    color: rgb(104, 104, 126);
    font-size: 60px;
    text-align: center;
}

.weaponUL {
    margin-left: 36%;
    max-width: 450px;
}

.weaponIndexDeleteEdit {
    display: flex;
    margin-left: 145px;
}

.weaponIndexDeleteButton {
    padding-bottom: 20px;
    padding-right: 15px;
}

.weaponIndexHeaderButtons {
    display: inline-flex;
    min-width: 1890px;
    min-height: 40px;
}

.weaponIndexNew {
    margin-right: 245px;
}

.weaponIndexBack {
    margin-right: 300px;
}

.weaponIndexRefresh {
    margin-left: 200px;
    margin-right: 300px;
}

.weaponIndexHeaderButton {
    padding: 10px 40px;
    font-size: 20px;
    color: black;
    background-image: url("https://i.pinimg.com/originals/79/0d/77/790d7774cdc98b6a53170ef5de8ce565.jpg");
    border-radius: 15px;
    border: 5px solid black;
}

.weaponIndexHeaderButton:hover {
    border: 5px solid rgb(104, 104, 126);
}

.weaponIndexImage:hover {
    background-color: rgba(39, 39, 48, 0.589);
    border-radius: 5px;
}


/* Weapons New Page */


/*=======================================================================================================================================================*/

.weaponNewBody {
    background-image: url("http://t.wallpaperweb.org/wallpaper/games/1920x1080/Halo_Reach_4.jpg");
    background-size: cover;
    text-align: center;
}

.weaponNewHeaderButtons {
    display: inline-flex;
    min-width: 1890px;
    min-height: 40px;
}

.weaponNewBackHeaderButton {
    padding: 10px 40px;
    font-size: 20px;
    background-color: rgb(7, 25, 26);
    color: black;
    background-image: url("https://i.pinimg.com/originals/79/0d/77/790d7774cdc98b6a53170ef5de8ce565.jpg");
    border-radius: 15px;
    border: 5px solid black;
}

.weaponNewHomeHeaderButton {
    padding: 10px 40px;
    font-size: 20px;
    background-color: rgb(7, 25, 26);
    color: black;
    background-image: url("https://i.pinimg.com/originals/79/0d/77/790d7774cdc98b6a53170ef5de8ce565.jpg");
    border-radius: 15px;
    border: 5px solid black;
    margin-left: 1610px;
}

.weaponNewCreateHeaderButton {
    padding: 10px 40px;
    font-size: 20px;
    background-color: rgb(7, 25, 26);
    color: black;
    background-image: url("https://i.pinimg.com/originals/79/0d/77/790d7774cdc98b6a53170ef5de8ce565.jpg");
    border-radius: 15px;
    border: 5px solid black;
}

.weaponNewBackHeaderButton:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.weaponNewHomeHeaderButton:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.weaponNewCreateHeaderButton:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.weaponNewHeaderButton:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.weaponNewActualInputBox {
    border: 5px solid black;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
}

.weaponNewActualInputBox:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.weaponNewH1 {
    color: rgb(104, 104, 126);
    font-size: 45px;
    padding-bottom: 30px;
    padding-top: 20px;
}

.weaponNewTopTwoInput {
    display: flex;
    justify-content: center;
}

.weaponNewMiddleTwoInput {
    display: flex;
    justify-content: center;
}

.weaponNewBottomTwoInput {
    display: flex;
    justify-content: center;
}


/* Weapons Show Page */


/*=======================================================================================================================================================*/


/* Weapons Edit Page */


/*=======================================================================================================================================================*/

.weaponEditBody {
    background-image: url("https://www.teahub.io/photos/full/97-972792_wallpaper-halo-wars-video-games.jpg");
    background-size: cover;
    text-align: center;
}

.weaponEditHeaderButtons {
    display: inline-flex;
    min-width: 1890px;
    min-height: 40px;
}

.weaponEditBackHeaderButton {
    padding: 10px 40px;
    font-size: 20px;
    background-color: rgb(7, 25, 26);
    color: black;
    background-image: url("https://i.pinimg.com/originals/79/0d/77/790d7774cdc98b6a53170ef5de8ce565.jpg");
    border-radius: 15px;
    border: 5px solid black;
}

.weaponEditHomeHeaderButton {
    padding: 10px 40px;
    font-size: 20px;
    background-color: rgb(7, 25, 26);
    color: black;
    background-image: url("https://i.pinimg.com/originals/79/0d/77/790d7774cdc98b6a53170ef5de8ce565.jpg");
    border-radius: 15px;
    border: 5px solid black;
    margin-left: 1610px;
}

.weaponEditCreateHeaderButton {
    padding: 10px 40px;
    font-size: 20px;
    background-color: rgb(7, 25, 26);
    color: black;
    background-image: url("https://i.pinimg.com/originals/79/0d/77/790d7774cdc98b6a53170ef5de8ce565.jpg");
    border-radius: 15px;
    border: 5px solid black;
}

.weaponEditBackHeaderButton:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.weaponEditHomeHeaderButton:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.weaponEditCreateHeaderButton:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.weaponEditHeaderButton:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.weaponEditActualInputBox {
    border: 5px solid black;
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
}

.weaponEditActualInputBox:hover {
    border: 5px solid rgb(104, 104, 126);
    border-radius: 15px;
}

.weaponEditH1 {
    color: rgb(104, 104, 126);
    font-size: 45px;
    padding-bottom: 30px;
}

.weaponEditTopTwoInput {
    display: flex;
    justify-content: center;
}

.weaponEditMiddleTwoInput {
    display: flex;
    justify-content: center;
}

.weaponEditBottomTwoInput {
    display: flex;
    justify-content: center;
}