<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<a href="/home/weapons/seed">Seed</a> <br>. <br> .

<nav>

    <form action="/home">
        <input type="submit" value="Go Back">
    </form>

</nav>

<body>
    <h1>This is the index Weapons page</h1>

</body>

<ul>
    <% weapons.forEach(weapon=> { %>
        <li>
            <%= weapon.name %> <br>



                <a href="/home/weapons/show/<%=weapon._id%>">
                    <img src="<%= weapon.image %>" style="max-height: 250px; max-width: 250px;">
                </a>



        </li>
        <% }) %>



            <!-- <form action="/home/weapons/seed">
                <input type="submit" value="Refresh the product">
            </form> -->





</ul>

</html>