<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<form action="/home">
    <input type="submit" value="Home">
</form>

<body>
    <h1>This is the new Weapons page</h1>

    <input type="submit" value="Create">

    <input type="text" name="name" placeholder="Weapon Name">
    <input type="text" name="description" placeholder="Description">
    <input type="text" name="price" placeholder="Price">
    <input type="text" name="quanity" placeholder="Quanity">

    <br>

    <form action="/home/weapons">
        <input type="submit" value="Back">
    </form>



</body>

</html>